* {box-sizing: border-box;}


.wrapper{
margin: 0;
background-color: red;
}


.centro{
font-size: 18px;


}

.menu-central{
background-image: url("images/fondo.jpg");
font-size: 20px;
text-align: center;
border: thin solid black;
width: 90%;
margin: 0;
float: right;
}

.izq{
  position: relative;
  border: thin solid black;
  float:left;
  width: 33.333%;

}

.cen{
  border: thin solid black;
  float: left;
  width: 33.333%;

}

.der{
  border: thin solid black;
  float: right;
  width: 33.333%;


}

#carta1{
margin: 20px;
border: thin solid black;
float: left;
width: 45%;
}


#carta2{
margin: 20px;
  border: thin solid black;
  float: right;
  width: 45%;
}


#img{
margin: 20px;
  width: 70%;
  float: left;
}


#img2{
margin: 20px;
  width: 50%;
  float: left;
}
.menu-izquierda{
    margin: 0;
    margin: 0;
    float: left;
    text-align: center;
    width: 10%;
    font-size: 16px;
    background-color: rgb(159, 249, 241);


}

.submenu-izquierda{
  display: none;
}



.subizq{
  display: none;
  width: 100%;
}

.izq:hover .subizq{
  position: absolute;
  display: block;
}

.itemizq{
  background-color: green;

}

.menu-izquierda:hover .submenu-izquierda{
display: block;
margin: 0;
float: left;
text-align: center;
width: 10%;
font-size: 16px;
background-color: rgb(159, 249, 241);
}


#button{
  position: relative;
  top: 250px;
}

#button2{
  position: relative;
  top: 350px;
}
